*{
    margin: 0;
    padding: 0;
}
h1{
    background-color: #0E131F;
    color: #fff;
    height: 5rem;
    text-align: center;
    line-height: 5rem;
}

h2{
    text-align: center;
    font-size: 4rem;
}

h3{
    font-size: 2rem;
}

img{
    height: 28vh;
    width: 28vh;
    background-color: #8B939C;
    border-radius: 50%;
}

.choice{
    display: flex;
    justify-content: space-around;
    margin-top: 5vh;
    cursor: pointer;
}

.choices{
    margin: 0 1rem;
    height: 30vh;
    width: 30vh;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}

.choices:hover{
    background-color: #02172e;
}

#score_container,#status_container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.score{
    width: 60vw;
    margin: 5vh 0 ;
    display: flex;
    justify-content: space-evenly;
}

#status{
    text-align: center;
    background-color: #59546C;
    padding: 10px;
    margin: 20px;
    border-radius: 10px;
}